/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    color: #fff;
}

a {
    position: relative;
    z-index: 1;
    padding: .75rem 1rem;
}

a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;

}

#app {
    font-family: 'Noto Sans TC', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.137);
    overflow: auto;
}

/* header */
header{
    padding: 0 5%;
}
#menuControl{
    position: absolute;
    z-index: -11;
    opacity: 0;
}
#conceptControl{
    position: absolute;
    z-index: -11;
    opacity: 0;

}
header .logo{
    
    font-family: 'Noto Sans TC',sans-serif;
    font-size: 1.25rem;
    
    letter-spacing: 3.2px;
    /* padding-left:  5% ; */
    
}
header .logo::after{
    content:" |";
}

header .openMenu {
    display: none;
    width: 35px;
    height: 10px;
    z-index: 2;
    cursor: pointer;
}
header .openMenu span{
    display:block;
    position:absolute;
    background: #ffffff;;
    width:35px;
    height:2px;
    border-radius:20px;
    -webkit-transition:all .5s cubic-bezier(.77,.2,.05,1);
    transition:all .5s cubic-bezier(.77,.2,.05,1);
    cursor:pointer
}


header .openMenu span:nth-child(2){
    top:10px;
    width: 35px;
    -webkit-transition: all.8s ease;
    transition: all .8s ease;
} 
header .openMenu span:nth-child(3) {
    top: 20px;
}

header .list {
    
    display: -webkit-box;
    display: -ms-flexbox;
    display:flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1rem;
    letter-spacing: 3.2px;
}



#menuControl:checked ~ header.mobileHeader{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height:100vh;
    width: 100%;
    z-index: 2;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    padding: 0;
}

#menuControl:checked ~ header.mobileHeader .list, #menuControl:checked ~ header.mobileHeader nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

}

#menuControl:checked ~ header.mobileHeader .openMenu span:first-child {
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: rotate(45deg) translate(-4px);
    transform: rotate(45deg) translate(-4px);
}

#menuControl:checked ~ header.mobileHeader .openMenu span:nth-child(2){
    width: 0;
} 
#menuControl:checked ~ header.mobileHeader .openMenu span:nth-child(3){
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(-45deg) translate(-4px);
    transform: rotate(-45deg) translate(-4px);
}

header  nav .item a{
    padding-left: .2onrem;
    transition: .5s ease-in-out;
}
header  nav .item a:hover{
    display: block;
    color:#1861AE;
    
    
    border-bottom: 1px #fff solid;
    /* transform: scale(1.25); */

    
}

/* grid */

.grid{
    background-image: 
        linear-gradient(rgba(255,255,255,.15) .5px, transparent 0),
        linear-gradient(90deg, rgba(255,255,255,.15) .5px, transparent 0),
        linear-gradient(rgba(255, 255, 255, 0.3) .5px, transparent 0),
        linear-gradient(90deg, rgba(255, 255, 255, 0.3) .5px, transparent 0);
    background-size: 
            calc(100vmin/40) calc(100vmin/40),
            calc(100vmin/40) calc(100vmin/40),
            calc(100vmin/8) calc(100vmin/8),
            calc(100vmin/8) calc(100vmin/8);
    width: 450px;
    height: 450px;
    z-index: 3;
    

}
.gridBlack{
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.15) .5px, transparent 0),
        linear-gradient(90deg, rgba(0, 0, 0, 0.15) .5px, transparent 0),
        linear-gradient(rgba(0, 0, 0, 0.3) .5px, transparent 0),
        linear-gradient(90deg, rgba(0, 0, 0, 0.3) .5px, transparent 0);
    background-size: 
            calc(100vmin/40) calc(100vmin/40),
            calc(100vmin/40) calc(100vmin/40),
            calc(100vmin/8) calc(100vmin/40*5),
            calc(100vmin/8) calc(100vmin/40*5);
    width: 450px;
    height: 450px;
    z-index: 3;
    

}

.bg{
    position: fixed;
    width: 100vw;
    height: 100%;
    z-index: -1;
    background-image: url(./img/PNG/home_img_bg@3x.png);
    background-attachment: fixed;
    background-position: center;
    background-position: left;
    background-size: 110vw;
}
.bgWhite{
    background-color: white;
    position: fixed;
    width: 100vw;
    height: 100%;
    z-index: -1;
    /* background-image: url(./img/PNG/home_img_bg@3x.png);
    background-attachment: fixed;
    background-position: center;
    background-position: left;
    background-size: 110vw; */
}



/* title */
.sign{
    width: 30vmax;
    height: 25vmax;
    position: fixed;
    top:35vh;
    left: 40vw;
    padding:2.5rem 2.5rem 4.5rem;
    background-color: rgba(255, 255, 255, 0);
    background-image: url(./img/SVG/home_box.svg);
    background-attachment: local;
    text-align: left;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 8;

    transition: .8s ease-in-out;
}
.sign .title{
    
    display: block;
    margin: auto;
    height: 40%;
    overflow: auto;
    -ms-overflow-style: none;
    
}

.sign .locationAndTime{

    display: block;
    padding-top: .4rem;
    margin: auto;
    height: 20%;
    overflow: auto;
    -ms-overflow-style: none;
}
.sign .artistList{
    display: block;
    padding-top: .4rem;
    margin: auto;
    height: 40%;
    overflow: auto;
    -ms-overflow-style: none;
}
/* hide the scrollbar */
.sign .title::-webkit-scrollbar, .sign .locationAndTime::-webkit-scrollbar, .sign .artistList::-webkit-scrollbar{
    display: none;
}

.sign h1, .sign h2{
    font-family: 'Noto Sans TC';
    color: rgb(0, 0, 0);
}
.sign h1{
    font-weight: bold;
    font-size: 2.5vw;
    line-height: 2.6vw;

    
}
.sign h2{
    font-size: 1vw;
    line-height: 1.6rem;
    
}
.sign .artistList a{
    color: #1861AE;
    text-decoration: underline;
    font-size: 1vw;
    line-height: 1vw;
}

/* concept */
.container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding: 7% 12.5vw;
    top:0;

    background-image: linear-gradient(rgba(255, 255, 255, 0.24),#123);

    box-sizing: border-box;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    text-align: left;
    
    
}
.conceptTitle{

    
    display: block;
    color: #f29602;
    text-shadow: rgba(0, 0, 0, 0.651) 0.1em 0.1em 0.2em;
    font-size: 1.2rem;
    text-decoration: underline;
    
    font-weight: normal;
    
}
.conceptContent{
    display: block;
    overflow: auto;
    margin-top: 5vh;
    -ms-overflow-style: none;
}
.conceptContent::-webkit-scrollbar{
    display: none;
}
    
.container p{
    display: block;

    
    text-align: justify;
    font-weight: lighter;
    
    line-height: 1.6rem;
    
}

.container .eng{
    margin-top: 2.5vh;
    text-align: justify;
    font-weight: lighter;
    
    line-height: 1.6rem;
    color: #ffffff;
}

/* info */

.infoContainer{
    
    position: fixed;
    top: 15vh;
    left: 7vw;
    width: 86vw;
    height: 75vh;

    margin: auto;
    box-sizing: border-box;
    text-align: left;
    background-color: white;
    background-attachment: scroll;

    padding: 5%;

    display: flex;
    flex-direction: row;
    
}
.infoContainer .title{
    color: #1861AE;
    font-size: 1.2rem;
    text-decoration: underline;
    


}
.content{
    color: black;
    font-size: .5rem;
}

.infoContainer .content{
    padding:.5rem 0;

}
.infoContainer .column{
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh ;
    margin: auto;

}
.infoContainer .column .content span{
    display: inline-block;
    margin-right: 2.5vmin;

    width: 5vmin;
    height: 5vmin;
    background-size: 100%;
    
}
.infoContainer .column .content span:first-child{

    background-image: url(./img/SVG/infor_link_fb.svg);
}
.infoContainer .column .content span:first-child:hover{
    background-image: url(./img/SVG/infor_link_fb_pressed.svg);
}
.infoContainer .column span:nth-child(2){

    background-image: url(./img/SVG/infor_link_ig.svg);
}
.infoContainer .column span:nth-child(2):hover{
    background-image: url(./img/SVG/infor_link_ig_pressed.svg);
}
.infoContainer .column span:nth-child(3){
    background-image: url(./img/SVG/infor_link_mail.svg);
}
.infoContainer .column span:nth-child(3):hover{
    background-image: url(./img/SVG/infor_link_mail_pressed.svg);
}

/* works */
.worksContainer{
    position: fixed;
    top: 15vh;
    left: 7vw;
    width: 86vw;
    height: 75vh;

    margin: auto;
    box-sizing: border-box;
    text-align: left;
    
    overflow: auto;
    -ms-overflow-style: none;

    

    display: flex;
    flex-direction: column;
    
}
#menuControl:checked ~ .worksContainer{
    display: none;
}
.worksContainer::-webkit-scrollbar{
    display: none;
}
.worksContainer .by4{
    
    margin: auto;
    display: flex;
    flex-direction: row;
}
.worksContainer .by2{
    display: flex;
    flex-direction: row;
}
.worksContainer .row{
    display: flex; 
}

.worksContainer .column{
    display: flex;
    
    width: 15vmax;
    height: 15vmax;
    margin: 5vmin;
    
    background-color: #123;
}

.worksContainer .column a{

    display: block;
    margin: auto;
    
    
}




/* ----------------------------------------------- */
/* IPAD SETUP */
/* ----------------------------------------------- */
@media (max-width: 1024px) and (min-width: 0px){

    /* mobilemenu出來後的動態 */
    #menuControl:checked ~ .sign{
        display: none;
    } 
    #menuControl:checked ~ .container{
        display: none;
    } 
    #menuControl:checked ~ .infoContainer{
        display: none;
    }

    /* header */

    header .logo{
        display: none;
    }
    header .openMenu {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        margin-right: auto;
        margin-left: 2rem;
        margin-top: 1.5rem;
        cursor: pointer;
        height: 25px;
    }
    header.mobileHeader nav{
        margin: 0 auto;
        height: 100vh;
        width: 100%;
        position: relative;
        left: -100%;
        transition: .5s ease-in-out;
        
    }
    header.mobileHeader nav .list, header.mobileHeader nav{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        

    }

    #menuControl:checked ~header.mobileHeader nav{

        background-color: rgb(255, 255, 255);
        background-image: 

        linear-gradient(rgba(0, 0, 0, 0.15) .5px, transparent 0),
        linear-gradient(90deg, rgba(0, 0, 0, 0.15) .5px, transparent 0);
        /* linear-gradient(rgba(0, 0, 0, 0.3) 1px, transparent 0),
        linear-gradient(90deg, rgba(0, 0, 0, 0.3) 1px, transparent 0); */
        background-size: 
        calc(100vmin/40) calc(100vmin/40),
        calc(100vmin/40) calc(100vmin/40);
        /* calc(100vmin/40*5) calc(100vmin/40*5),
        calc(100vmin/40*5) calc(100vmin/40*5); */
        /* width: 450px;
        height: 450px; */
        z-index: 1;
        
        left: 0;
    }

    #menuControl:checked ~ header .openMenu span{
        background-color: rgb(0, 0, 0);
    }

    #menuControl:checked ~ header.mobileHeader .list .item a{
        
        color: black;
        
    }

    header.mobileHeader .list .item{

        margin: auto 0;
        font-size: 1rem;
        letter-spacing: .5rem;
        padding-top: .5rem;

    }

    /* sign */
    
    .sign{
        
        width: 40vmax;
        height: 32vmax;
        top:35vh;
        left:28vw;
        padding:2.5rem 2.5rem 3.5rem;
    }

    .sign .title{
        display: block;
        margin: auto;
        height: 35%;
        
    }
    .sign .locationAndTime{
    
        display: block;
        padding-top: 0;
        margin: auto;
        height: 20%;
    }
    .sign .artistList{
        display: block;
        padding-top: 0;
        margin: auto;
        height: 40%;
    }
    
    .sign h1{
        font-weight: bold;
        font-size: 4vmin;
        line-height: 4.3vmin;
    
        
    }
    .sign h2{
        font-size: 2vmin;
        line-height: 2.5vmin;
        
    }
    .sign .artistList a{
        color: #1861AE;
        text-decoration: underline;
        font-size: 2vmin;
        line-height: 3vmin;
    }
    /* concept */
    .container{
        padding: 12.5vh 12.5vw;
        background-image: linear-gradient(rgba(255, 255, 255, 0.24),rgba(17, 34, 51, 0.521),rgb(17,34,51));
    }
    
    /* info */
    .infoContainer{
        top: 12.5vh;
        left: 12.5vw;
        width: 75vw;
        height: 75vh;

        display: flex;
        flex-direction: column;

        
    }

    .infoContainer .column{
        margin:auto 0;
    }

    /* works */
    .worksContainer .column{
        
        width: 32.6vmin;
        height: 32.6vmin;

    }
    .worksContainer .by4{
    
        flex-direction: column;
    }

    @media screen and (orientation: landscape){
        
        .sign{
            width: 40vmax;
            height: 32vmax;
            position: fixed;
            top:35vh;
            left:35vw;
        }
        

    }
    @media screen and (orientation: portrait){
        .sign{
            padding:2.5rem 2.5rem 3.5rem;
        }
        
        
    }
    
    
   
}


/* ----------------------------------------------- */
/* PHONE SETUP */
/* ----------------------------------------------- */
  @media screen and (max-width: 450px) {
    html,
    body {
      font-size: 16px;
      -webkit-text-size-adjust: 100%;
    }
    code pre {
      font-size: 16px;
    }

    /* bg */

    .bg{
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: -1;
        background-image: url(./img/PNG/home_img_bg@3x.png);
        background-attachment: fixed;
        background-position: center left;

        
        
        background-size: 110vw;
    }
    /* sign */

    .sign{
        width: 43vmax;
        height: 34vmax;
        top:25vh;
        left: 18vw;
        padding:1.3rem 1rem 2.5rem;
       
    }

    .sign .title{
        display: block;
        margin: auto;
        height: 30%;
        
    }
    .sign .locationAndTime{
    
        display: block;
        padding-top: 0;
        margin: auto;
        height: 20%;
    }
    .sign .artistList{
        display: block;
        padding-top: 0;
        margin: auto;
        height: 50%;
    }

    .sign h1{
        font-weight: bold;
        font-size: 6vmin;
        line-height: 5.5vmin;
    
        
    }
    .sign h2{
        font-size: 2vmin;
        line-height: 4vmin;
        
    }
    .sign .artistList a{
        
        
        text-decoration: underline;
        font-size: 2vmin;
        line-height: 1vmin;
        
    }
    /* info */
    .infoContainer .title{
        font-size: 1rem;
    }
    .content{
        color: black;
        font-size: .6rem;
    }
    /* concept */
    .conceptTitle{

        margin-top: 5vh;
    }

    @media screen and (min-height:812px){
        .sign{
            width: 35vmax;
            height: 28vmax;
            position: fixed;
            top:30vh;
            left: 15vw;
            padding:1rem 1rem 2.5rem;
           
        }
        
    }
    


  }
/* ----------------------------------------------- */
/* ANIMATION */
/* ----------------------------------------------- */
  
  @-webkit-keyframes mobile{
    0%{
        bottom:0;
       -webkit-transform:translateY(100%);
       transform:translateY(100%);}to{
        bottom:0;
        -webkit-transform:translateY(0);
        transform:translateY(0);
       }
    }
  @keyframes mobile{0%{bottom:0;-webkit-transform:translateY(100%);transform:translateY(100%)}to{bottom:0;-webkit-transform:translateY(0);transform:translateY(0)}}